numpy
torch
scipy
pandas
matplotlib
seaborn
scikit-learn
statsmodels

one-api
brainbox
brainwidemap # adapted from IBL's paper-brain-wide-map repo
iblatlas
ibllib
iblutil

Pillow
python-dateutil
adjustText

cma
ipython
joblib
numba
